@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.btn-primary1{
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: rgba(254, 163, 1, 1) ;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
}
/* black */
.black{
    color: rgba(17, 17, 17, 1);
}
/* black 1 */
.black1{
    color: #000000;
}
/* black2 */
.black2{
    color: #202020;
}
/* gray1 */
.gray1{
    color: #808080;
}
/* .gray2 */
.gray2{
    color: #808080;
}
/* sky blue */
.sky-blue{
    color: rgba(1, 172, 253, 1);
}
/* navy blue */
.navy-blue{
    color: #05D4DF;
}
/* orange */
.orange{
   color: rgba(254, 163, 1, 1);
}
/* purple */
.purple{
    color: #5d58ef;
}
.bold{
    font-weight: bold;
}
/* header style */
/* nav style */

.school{
font-size: 2rem;
}
.navbar{
    justify-content: space-around;
    align-items: center;
    max-width: 1160px;
    border: orange 1px solid;
    margin: 0 auto;
}
.school-logo{
    margin-right: 11px;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    
    font-size: 1.2rem;
}
.btn-primary{
     width: 197px;
    height: 50px;
    padding: 10px;
    background-color: rgba(254, 163, 1, 1) ;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
}
.menu{
    display: none;
}
/* banner style */

.banner{
  gap: 50px;
  max-width: 1160px;
  /* border: #05D4DF 1px solid; */
  margin: 0 auto;
}
.banner-content{
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.banner-title{
    font-size: 3.5rem;
    margin-bottom: 0;
}
.banner-description{
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
#banner-btn{
    background-color: rgba(17, 17, 17, 1);
}
/* main style */
main{
      background-image: url(../assets/bg.png);
     
}
/* curriculum section style */
.curriculum{
     max-width: 1160px;
     border: #000000 1px solid;
     margin: 0 auto; 
   
}
.curriculum-title{
    font-size: 2.9rem;
    text-align: center;
}
/* card style */
.curriculum-box{
    gap: 28px;
  
}
.card1, .card2, .card3{
    border: #05D4DF 1px solid;
    border-radius: 18px;
      justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
.card1{
    background-image: linear-gradient(to bottom,  rgba(1, 172, 253, 0.1), rgba(1, 172, 253, 0));
}
.card2{
    background-image: linear-gradient(to bottom,  rgba(254, 163, 1, 0.1),  rgba(254, 163, 1, 0));
}
.card3{
    background-image: linear-gradient(to bottom, rgba(93, 88, 239, 0.1), rgba(93, 88, 239, 0));
}
.card-title{
    font-size: 1.6rem;
    }
.card-description{
    font-weight: 500;
    text-align: center;
}  
#subtitle1{
    color: rgba(1, 172, 253, 1);
}
#subtitle2{
    color: rgba(254, 163, 1, 1);
}
#subtitle3{
    color: #5d58ef;
}
.next-icons{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.next-icon{
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius:50%;
    border: none;
    color: #FFFFFF;
    margin-right: 10px;
}

/* responsive media query */
@media screen and (max-width:576px){
   .school ,
   .nav-links,
   .btn-primary{
    display: none;
   }
   .menu{
    display: block;
   }
   .school-logo{
    gap: 270px; 
   align-items: center;
   }
   .banner{
    flex-direction: column-reverse;
   }
   .banner-content{
   text-align: center;
   /* justify-content: center; */
   align-items: center;
   }

}