@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.btn-primary1{
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: rgba(254, 163, 1, 1) ;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
}
/* black */
.black{
    color: rgba(17, 17, 17, 1);
}
/* black 1 */
.black1{
    color: #000000;
}
/* black2 */
.black2{
    color: #202020;
}
/* gray1 */
.gray1{
    color: #808080;
}
/* .gray2 */
.gray2{
    color: #808080;
}
/* gray3 */
#gray3{
    color: #666666;
}
/* sky blue */
.sky-blue{
    color: rgba(1, 172, 253, 1);
}
/* navy blue */
.navy-blue{
    color: #05D4DF;
}
/* orange */
.orange{
   color: rgba(254, 163, 1, 1);
}
/* purple */
.purple{
    color: #5d58ef;
}
.bold{
    font-weight: bold;
}
/* header style */
/* nav style */

.school{
font-size: 2rem;
}
.navbar{
    justify-content: space-around;
    align-items: center;
    max-width: 1160px;
    border: orange 1px solid;
    margin: 0 auto;
}
.school-logo{
    margin-right: 11px;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    
    font-size: 1.2rem;
}
.btn-primary{
     width: 197px;
    height: 50px;
    padding: 10px;
    background-color: rgba(254, 163, 1, 1) ;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
}
.menu{
    display: none;
}
/* banner style */

.banner{
  gap: 50px;
  max-width: 1160px;
  /* border: #05D4DF 1px solid; */
  margin: 0 auto;
}
.banner-content{
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.banner-title{
    font-size: 3.5rem;
    margin-bottom: 0;
}
.banner-description{
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
#banner-btn{
    background-color: rgba(17, 17, 17, 1);
}
/* main style */
main{
      background-image: url(../assets/bg.png);
     max-width: 1160px;
      margin: 0 auto; 
      }
/* curriculum section style */
.curriculum{
     max-width: 1160px; 
     /* border: #000000 1px solid;  */
    margin: 0 auto;  
   
}
.curriculum-title{
    font-size: 2.9rem;
    text-align: center;
    
}
.curriculum-box{
    gap: 28px;
    margin-top: 80px;
    }
/* card style */

.card1, .card2, .card3{
    /* border: #05D4DF 1px solid; */
    border-radius: 18px;
      justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05)
}
.card1{
    background-image: linear-gradient(to bottom,  rgba(1, 172, 253, 0.1), rgba(1, 172, 253, 0));
}
.card2{
    background-image: linear-gradient(to bottom,  rgba(254, 163, 1, 0.1),  rgba(254, 163, 1, 0));
}
.card3{
    background-image: linear-gradient(to bottom, rgba(93, 88, 239, 0.1), rgba(93, 88, 239, 0));
}
.card-title{
    font-size: 1.6rem;
    }
.card-description{
    font-weight: 400;
    font-size: 1rem; 
    text-align: center;
}  
.card-subtitle{
    font-size: 0.8rem;
}
#subtitle1{
    color: rgba(1, 172, 253, 1);
}
#subtitle2{
    color: rgba(254, 163, 1, 1);
}
#subtitle3{
    color: #5d58ef;
}
.next-icons{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.next-icon{
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius:50%;
    border: none;
    color: #FFFFFF;
    margin-right: 10px;
}
/* our stories section style */
.stories{
   background-image: linear-gradient(to top, rgba(254, 163, 1, 0.2), rgba(254, 163, 1, 0)); 
   /* border: #05D4DF 1px solid;   */
  
  }
 #story1{
    grid-area: story1;
}
#story2{
    grid-area: story2;
}
#story3{
    grid-area: story3;
}
#story4{
    grid-area: story4;
}
#story5{
    grid-area: story5;
}
.stories-box{
    display: grid;
    grid-template-areas: "story1 story1  story2 story3"
                         "story1 story1  story2 story3"
                         "story1 story1  story4 story5"
                         "story1 story1  story4 story5";
    /* grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);  */
    gap: 18px;
                         

} 
.stories-card{
    /* border: #05D4DF 1px solid; */
    border-radius: 16px;
}
.stories-card img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
#story1 .stories-card-title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 61px;
}
#story2 .stories-card-title,
#story3 .stories-card-title,
#story4 .stories-card-title,
#story5 .stories-card-title{
    font-size: 0.9rem;
    
}
.stories-card-description{
    font-weight: 400;
    font-size: 0.9rem;
    color: #666666;
}
#story-title{
    margin-top: 33px;
    margin-bottom: 33px;
}
#story-description{
    margin-top: 47px;
}
#skyblue{
    background-color: rgba(1, 172, 253, 1);
    border-radius: 47px;
    font-weight: 400;
    font-size: 0.9rem;
     margin-left: 20px; 
    margin-top: -100px;
}
#green{
     background-color: #95B226;
    border-radius: 47px;
    font-weight: 400;
    font-size: 0.9rem;
    /* position: relative;
   right: 250px; */
   margin-left: 130px;
   margin-top: -50px;
}
#purple{
    background-color:  #5d58ef;
    border-radius: 47px;
    font-weight: 400;
    font-size: 0.9rem;
      /* position: relative;
   right: 250px; */
    margin-left: 130px;
   margin-top: -50px;
}
.black-btn{
    margin-left: 500px;
}
/* responsive media query */
@media screen and (max-width:576px){
   .school ,
   .nav-links,
   .btn-primary,
   .next-icons,
    .hide {
    display: none;
   }
    /* #story1{
    display: none;
   } */
   .menu{
    display: block;
   }
   .school-logo{
    gap: 270px; 
   align-items: center;
   }
   .banner{
    flex-direction: column-reverse;
   }
    .curriculum-box{
        display: grid;
        grid-template-rows: 1fr;
    }
    .stories-box{
      grid-template-areas: 
      "story2 story3"
      "story4 story5";
      grid-template-columns: 280px 280px;  
     width: 100%;
     }    
    #banner-btn{
       margin-left: 200px;
    }                 
   .banner-content{
   text-align: center;
   /* justify-content: center; */
   align-items: center;
   }
   #green, #purple{
    margin-left: 20px;
   }
}